.monkey-talk {
    position: relative;
    top: -300px;
    left: -60px;
    font-family: "Junge", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
}

.monkey-style{
    position: absolute;
    top: 600px;
    left: 730px;
    
  }

  .text-bubble-monkey {
    position: relative;
    top: -160px;
    left: -240px;
    z-index: 2;
  }

  .monkey-image{
    position: relative;
    top: -40px;

    z-index: 1;
  }

  .monkey-image2{
    position: relative;
    

    z-index: 1;
  }