@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet');

.sergeant-style{
    position: absolute;
    top: 20px;
    left: 670px;
    width: auto;
    height: 350px;
    z-index: 2;
  }

  .sergeant-open-style{
    position: absolute;
    top: 20px;
    left: 670px;
    width: auto;
    height: 350px;
    z-index: 2;
  }


  .box-style{
    position: absolute;
    top: 20px;
    left: 380px;
    width: 500px;
    height: auto; 
    transform: scale(1, 1);
    z-index: 1;
  }

  .gamer-text{
    position: relative;
    left: 300px;
    top: 60px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 450;
    font-style: normal;
    font-size: 70%;
    transform: scale(.7, 2);
    z-index: 3;
  }